@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

:root {
  --darkest-h: 221;
  --darkest-s: 26%;
  --darkest-l: 21%;
  --darkest: hsl(var(--darkest-h), var(--darkest-s), var(--darkest-l));

  --lightest-h: 113;
  --lightest-s: 31%;
  --lightest-l: 95%;
  --lightest: hsl(var(--lightest-h), var(--lightest-s), var(--lightest-l));

  --fs-lg: 4rem;
  --fs-md: 2rem;
  --fs-sm: 1.5rem;

  --trans-lg: 500ms
}

html, button {
  font-family: 'Raleway', sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: var(--darkest);
}

body {
  transition: background-color var(--trans-lg);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}