@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

:root {
  --darkest: #273043;
  --lightest: #EFF6EE;

  --fs-lg: 4rem;
  --fs-md: 2rem;
  --fs-sm: 1.5rem;
}

html, button {
  font-family: 'Raleway', sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: var(--darkest);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}